/*Selector universal
margin: Si pongo dos valores, como 20px 0 px, el primer valor se refiere al valor de margen de arriba y abajo y el segundo el de la derecha e izquierda. Si ponemos 4 valores, como 20px, 10px, 5px, 0px, el primer valor es de arriba, el segundo a la deracha, el tercero abajo y el tercero izquierda
padding: Borde interior y los valores funcionan igual que el margin
Diferencias de poner height y no
*/

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial;
    line-height: 22px;
}
.caja{
    background: #0353a4;
    width: 200px;
    
    margin: 20px 10px 5px 0px;
    border: 10px solid #000;
    
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
}
.caja2{
    background: #0353a4;
    width: 200px;
    height: 200px;
    
    margin: 20px;
    padding: 20px;
    
}
p{
    background: #eee5e9;
}